body {
				background: darkgray;
}

@font-face  {
				font-family: 'benmono';
				src: url('fonts/bBenmonoLiane.woff');
}				

#namebar {
				color: whitesmoke;
				font-family: benmono;
				font-size: 20px;
}


/* Pelicula */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #1d1d1d;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
	min-height: 200px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #393939;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #5f5f5f;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .2s ease all;
}

.paginacion button:hover {
	background: #d70009;
} 






/* Api */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.contenedor {
	width: 95%;
	max-width: 1000px;
	margin: 1px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;
}

.contenedor .pelicula {
	text-align: center;
	background-color: #870F0F;
	border-radius: 20px;
	border: solid black 2px;
}

.contenedor .pelicula .titulo {
	font-size: 30px;
	font-weight: 600;
	color: #FFFFFF;

}

.contenedor .pelicula .descripcion {
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
	padding: 5px
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: -10px;
	border-radius: 20px;
}


 
